{% extends "default.html" %}

{% block mainpage %}
    <!--
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'employeeHome' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'employeeAdd' %}">Creer</a></li>
            <li class="breadcrumb-item"><a href="{% url 'gestionPost' %}">Poste</a></li>
            <li class="breadcrumb-item"><a href="{% url 'importEmp' %}">Importer</a></li>
        </ol>
    </nav>
    -->
    <ul class="nav nav-tabs sub_menu"  style="margin-bottom: 10px;">
            <li class="nav-item">
              <a class="nav-link customcolor homelink" href="{% url 'employeeHome' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor addlink" href="{% url 'employeeAdd' %}">Creer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor postelink" href="{% url 'gestionPost' %}">Poste</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor importlink" href="{% url 'importEmp' %}">Importer</a>
            </li>
    </ul>
    {% block main %}
        
    {% endblock main %}
{% endblock mainpage %}

{% block customJs %}
    <script>
        
    </script>
{% endblock customJs %}