{% extends "employee.html" %}
{% load static %}

{% block title %}
  Generation de bulletin de salaire
{% endblock title %}

{% block css %} 
  <style type="text/css">
    input{
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .information{
      width: 300px;
      /*min-height: 200px;*/
      border: 1px solid #d11c62;
      position: fixed;
      right: 0px;
      top: 75px;
      background-color: #fff ;
    }
    .info-header{
      height:30px;
      color: #fff ;
      text-align: center;
      cursor: pointer;
    }
    .info-body{
      overflow: hidden;
    }
  </style>
{% endblock css %}

{% block main %}
  <div>
      <div class="main container">
        <div class="bulletin">
          <div class="entete">
            <div><img src="{{ request.session.entrepriseinfo.img }}" class="img-logo"></div>
            <div> {{ now }} </div>
          </div>
          <table class=" table">
            <tr>
              <th class="titre" colspan="6"> BULLETIN DE SALAIRE </tr>
            <tr>
              <th class="txcenter" colspan="3">EMPLOYEUR</th>
              <th class="txcenter" colspan="3">SALARIE</th>     
            </tr>
            <tr>
              <th>Nom</th>
              <td colspan="2">{{ request.session.entrepriseinfo.name }}</td>
              <th>Nom et prenom</th>
              <td colspan="2"> {{ emp.last_name }}  {{ emp.first_name }} </td>
            </tr>
            <tr>
              <th>Adresse</th>
              <td colspan="2">{{ request.session.entrepriseinfo.adress }}</td>
              <th>Adresse</th>
              <td colspan="2"> {{ emp.adress }} </td>
            </tr>
            <tr>
              <th >Contact</th>
              <td colspan="2">{{ request.session.entrepriseinfo.contact }}</td>
              <th>Numero SS</th>
              <td colspan="2"> {{ emp.social_security_number }} </td>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <td colspan="2">&nbsp;</td>
              <th>Matricule</th>
              <td colspan="2"> {{ emp.regis_number }} </td>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <td colspan="2">&nbsp;</td>
              <th>Situation</th>
              <td colspan="2"> {{ emp.marital_status }} , {{ emp.number_children }} enfants</td>
            </tr>
            <tr>
              <th class="tborder">&nbsp;</th>
              <td class="tborder" colspan="2">&nbsp;</td>
              <th class="tborder">Ancienneté</th>
              <td class="tborder" colspan="2">---</td>
            </tr>
            <tr>
              <th colspan="6">&nbsp;</th>
            </tr>
            
          </table>
          <input type="hidden" value="{{salary.closed}}" id="salclosed">
          <form method="post">
            {% csrf_token %}
          <table class=" table table-bordered">
            <tr>
              <th colspan="2">Bulletin de paie pour le mois de</th>
              <th colspan="2"><input type="date" name="month" class="form-control" required value="{{salary_period}}"></th>
              <th colspan="5"></th>
            </tr>
            <tr>
              <th colspan="2" style="text-align: center;">Variae de paie</th>
              <th colspan="5" style="text-align: center;">Part Salariale</th>
              <th colspan="2" style="text-align: center;">Part Patronale</th>
            </tr>
            <tr>
              <th>Code</th>
              <th>Designation</th>
              <th style="width: 70px;">Nbr(h/m)</th>
              <th>Base</th>
              <th>Taux</th>
              <th>Gain</th>
              <th>Retenue</th>
              <th>Taux</th>
              <th>Retenue</th>
            </tr>
            {% for sdg in salary_desig %}
              {% if sdg.code >= 1000 %}
                <tr class="totalbrutlab">
                  <th colspan="5">Total brut</th>
                  <th class="totalbrut"></th>
                  <th colspan="3"></th>
                </tr>
              {% endif %}
              <tr>
                <th> {{ sdg.code }} </th>
                <th style="width: 200px;"> {{ sdg.label }} </th>
                <td style="width: 70px;" class="tdnbr_hour">
                  <input type="number" name="{{sdg.code}}-nbr_hour" class="nbr_hour" value="{{sdg.nbr_hour}}">
                </td>
                <td class="tdbase">
                  <input type="text" name="{{sdg.code}}-base" class="base" value="{{sdg.base}}"> 
                </td>
                <td class="tdsalary_rate">
                  <input type="text" name="{{sdg.code}}-salary_rate" class="salary_rate" value="{{sdg.salary_rate}}"> 
                </td>
                <td class="tdsalary_gain"> 
                  <input type="text" name="{{sdg.code}}-salary_gain" code="{{ sdg.code }}" class="salary_gain" value="{{sdg.salary_gain}}"> 
                </td>
                <td class="tdsalary_deduction"> 
                  <input type="text" name="{{sdg.code}}-salary_deduction" class="salary_deduction" value="{{sdg.salary_deduction}}"> 
                </td>
                <td class="tdpatronal_rate"> 
                  <input type="text" name="{{sdg.code}}-patronal_rate" class="patronal_rate" value="{{sdg.patronal_rate}}"> 
                </td>
                <td class="tdpatronal_deduction"> 
                  <input type="text" name="{{sdg.code}}-patronal_deduction" class="patronal_deduction" value="{{sdg.patronal_deduction}}">
                </td>
              </tr>
            {% endfor %}
            <tr>
              <th colspan="5">TOTAL</th>
              <td id="total_gain"></td>
              <td id="total_dedu"></td>
              <td></td>
              <td id="total_patron_dedu"></td>
            </tr>
            <tr>
              <th colspan="8">Net à payer</th>
              <td id="net"></td>
            </tr>
          </table>
          <div>
            <input type="submit" name="valider" class="btn btn-primary">
          </div>
          </form>
        </div>
      </div>
  </div>
  <div class="information">
    <div class="info-header customback">
      <i class="fas fa-exclamation-circle"></i>  Informations Utils
    </div>
    <div class="info-body">
        <div>Attention le virgule ' , ' et reprensenté pas le point ' . '</div><hr>
    </div>
  </div>
{% endblock main %}



{% block js %}
<script type="text/javascript">
  
  let inputs =  $('input') 
  for (var i = 0; i < inputs.length; i++) {
    if (inputs[i].value == 'None') {
      inputs[i].value = ''
    }
  }
  // for the dialog panel 
  let closed = true 
  $('.information').hide()
  $('.info-header').click(function() {
    if (closed) {
      $('.info-body').animate({height:"300px"})
      closed = false
    } else {
      $('.info-body').animate({height:"0px"}) 
      closed = true 
    }
  })

  /**
  * desactiver les champs si le bulletin de salaire est réglé
  */
  if ($('#salclosed').val() == 'True') {
    inputs.prop('disabled', true)
  }

  $('.totalbrutlab').each(function(index, element) {
      // $(elem).text($(element).text() + " !!"); 
      if (index != 0) {
        element.remove()
      }
  })

  /**
  * pour le calcul automatique des valeur sur des champs des rows 
  **/

  function update() {
    var gain = $('.salary_gain')
    var salary_gain = parseFloat('0') 
    for (var i = 0; i < gain.length; i++) {
      if ( gain[i].value != '') {
        salary_gain = salary_gain + parseFloat(gain[i].value)
      }
    }
    $('#total_gain').html(salary_gain.toFixed(2))

    var dedu = $('.salary_deduction')
    var salary_deduction = parseFloat('0') 
    for (var i = 0; i < dedu.length; i++) {
      if ( dedu[i].value != '') {
        salary_deduction = salary_deduction + parseFloat(dedu[i].value)
      }
    }
    $('#total_dedu').html(salary_deduction.toFixed(2))

    var patrondedu = $('.patronal_deduction')
    var patron_dedu = parseFloat('0') 
    for (var i = 0; i < patrondedu.length; i++) {
      if ( patrondedu[i].value != '') {
        patron_dedu = patron_dedu + parseFloat(patrondedu[i].value)
      }
    }
    $('#total_patron_dedu').html(patron_dedu.toFixed(2))
    $('#net').html( (salary_gain - salary_deduction).toFixed(2) )

    var totalbrut = parseFloat('0')
    $('.salary_gain').each(function(index, element) {
      if ( $(element).attr('code') < 1000 ) {
        if ( $(element).val() != '' ) {
          totalbrut = totalbrut+ parseFloat( $(element).val() )
        }
      }
    })
    $('.totalbrut').html(totalbrut.toFixed(2))

  }
  update()


  $('.salary_gain').change(function(){update()})
  $('.patronal_deduction').change(function(){update()})
  $('.salary_deduction').change(function(){update()})



  // changement de la valeur du champs hr du nomnre d'heure
  $('.nbr_hour').change(function(){
    console.log('change detected')
    var parent = $(this).parent().parent()  // l'element cliqué
    var base   = parent.children('.tdbase').children('.base') // le champ base 
    var gain   = parent.children('.tdsalary_gain').children('.salary_gain') // le champ salary gain
    if (base.val() != '') {
      console.log('compute :)')
      var val =  base.val()
      val = val.replace(',', '.')
      base.val(val)
      if ( !isNaN( val ) ) {
          gain.val( (val * $(this).val()).toFixed(2) )
      }
    }
    update()
  })
  // changement de la valeur du champ taux de la part salariale
  $('.salary_rate').change(function(){
    console.log('change detected')
    var parent = $(this).parent().parent()  // l'element cliqué
    var base   = parent.children('.tdbase').children('.base') // le champ base 
    var dedu   = parent.children('.tdsalary_deduction').children('.salary_deduction') // le champ salary deduction

    if (base.val() != '') {
      console.log('compute :)')
      var val =  base.val()
      val = val.replace(',', '.')
      base.val(val)
      if ( !isNaN( val ) ) {
        var rate = $(this).val() 
        rate = rate.replace(',', '.')
        $(this).val(rate)
        dedu.val( ((val*rate)/100).toFixed(3) )
      }
    }
    update()
  })

  // changement du champ taux de la part patronale
  $('.patronal_rate').change(function(){
    console.log('change detected')
    var parent = $(this).parent().parent()  // parent de l'element cliqué
    var dedu   = parent.children('.tdpatronal_deduction').children('.patronal_deduction')
    var base   = parent.children('.tdbase').children('.base').val().replace(',','.')
    parent.children('.tdbase').children('.base').val(base)
    var rate = $(this).val().replace(',','.')
    $(this).val(rate)
    if ( !isNaN(base) && !isNaN(rate)) {
      dedu.val( ((base*rate)/100).toFixed(2) )
    }
    update()
  })

  // changement de la valeur du champ base de salaire de base
  $('.base').change(function(){
    console.log('change detected')
    var parent = $(this).parent().parent()  // l'element cliqué
    var nbr_hour   = parent.children('.tdnbr_hour').children('.nbr_hour') // le champ base 
    var rate = parent.children('.tdsalary_rate').children('.salary_rate').val() // la valeur du champ salary rate

    if (nbr_hour.val() != '') {
      console.log('compute :)')
      var gain   = parent.children('.tdsalary_gain').children('.salary_gain') // le champ salary gain

      var val =  nbr_hour.val()
      // val = val.replace(',', '.')
      // nbr_hour.val(val)
      if ( !isNaN( val ) ) {
          var base = $(this).val() 
          base = base.replace(',', '.')
          $(this).val(base)
          gain.val( (val * base).toFixed(2) )
      }
    }else if ( rate != '' ) {
          console.log("okkkkkkkk")
          var dedu = parent.children('.tdsalary_deduction').children('.salary_deduction') // le champ salary gain
          var base = $(this).val()
          base = base.replace(',', '.')
          $(this).val(base)
          rate = rate.replace(',', '.')
          parent.children('.tdsalary_rate').children('.salary_rate').val(rate)
          if ( !isNaN(base) && !isNaN(rate)) {
            dedu.val( ((base*rate)/100).toFixed(2) )
          }
    }
    update()
  })

</script>
{% endblock js %}