{% extends "gesstock.html" %}
{% load static %}

{% block css %} 

{% endblock css %}

{% block title %}
  Stock | Client detail
{% endblock title %}


{% block main %}
        
<div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Editer Client</h4>
              <p class="card-category">Modifier le profil du client</p>
            </div>
            <div class="card-body">
              <form method="POST" action="{% url 'gesstockCustomerShow' customer.id %}">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Label</label>
                      {{ customerForm.label }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Adresse</label>
                      {{ customerForm.adress }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Tel</label>
                      {{ customerForm.tel }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating">Fix</label>
                      {{ customerForm.fix }}
                    </div>
                  </div>
                </div>
                <input type="submit" name="updateCustomer" class="btn btn-primary pull-right" value="Modifier">
                <div class="clearfix"></div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Livraison</h4>
              <p class="card-category">Liste des Livraison | {{ customer.label }}</p>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr><th>Date Livraison</th><th>livré</th><th>Ouvrir</th></tr>
                    {% for item in customer.delivery_set.all %}
                      <tr>
                        <td>{{ item.deliveryDate }}</td>
                        <td>{{ item.deliveredLab }}</td>
                        <td><a href="{% url 'gesstockDeliveryShow' item.id %}">ouvrir</a></td>
                      </tr>
                    {% endfor %}
                  </table>
            </div>
          </div>

          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Etat Finencier</h4>
              <p class="card-category">Etat financier du client | Creance</p>
            </div>
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a>
                <img class="img" src="{{ customer.logo.url }}" />
              </a>
            </div>
            <div class="card-body">
              <h6 class="card-category text-gray">Fournisseur</h6>
              <h4 class="card-title">{{ customer.label }}</h4>
              <p class="card-description">
              </p>
            </div>
          </div>
        </div>
      </div>

{% endblock main %}


{% block js %}
  <script>
    $(".sub_menu .customerLink").addClass('btn-primary customback')  
    $('.form-group input').addClass('form-control')
  </script>
{% endblock js %}