{% extends "default.html" %}

{% block mainpage %}

    <ul class="nav nav-tabs sub_menu"  style="margin-bottom: 10px;">
            <li class="nav-item">
              <a class="nav-link customcolor homeLink" href="{% url 'accountingHome' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link customcolor accountLink" href="{% url 'accountingAccount' %}">Compte</a>
              </li>
            <li class="nav-item">
              <a class="nav-link customcolor journalLink" href="{% url 'accountingJournal' %}">Journal Comptable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor bookLink" href="{% url 'accountingBook' %}">Grand livre comptable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link customcolor balanceLink" href="{% url 'accountingBalance' %}">Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor bilanLink" href="{% url 'accountingBilan' %}">Bilan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor resultLink" href="{% url 'accountingResult' %}">Compte resultat</a>
            </li>
            
    </ul>
    {% block main %}
        
    {% endblock main %}
{% endblock mainpage %}

{% block customJs %}
    <script>
        
    </script>
{% endblock customJs %}