{% extends "accounting.html" %}
{% load static %}

{% block title %}
  Comptabilité | compte
{% endblock title %}

{% block main %}
    <div class="row">
      <div class="col-md-7">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Gestion des comptes</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <table class="table ">
                    <tr><th>Label</th><th>Numero compte</th><th>creer le</th></tr>
                    {% for act in accounts %}
                    <tr>
                        <td> {{ act.label }} </td>
                        <td> {{ act.account_number }} </td>
                        <td> {{ act.created_at }} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
      </div>
      <div class="col-md-5">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title">Ajouter un compte</h4>
                  <p class="card-category"></p>
              </div>
              <div class="card-body">
                  <form action="{% url 'accountingAccount' %}" method="post">
                      <table class="table">
                        {% csrf_token %}
                        {{ accountForm.as_table }}
                      </table>
                      <input type="submit" value="Submit" class="btn btn-primary customback"/>
                    </form>
              </div>
          </div>
      </div>
    </div>
{% endblock main %}

{% block js %}
  <script>
    $(".sub_menu .accountLink").addClass('btn-primary customback')
  </script>
{% endblock js %}
