{% extends "default.html" %}

{% block mainpage %}

    <ul class="nav sub_menu"  style="margin-bottom: 10px;">
            <li class="nav-item">
              <a class="nav-link  homeLink" href="{% url 'accountingHome' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  accountLink" href="{% url 'accountingAccount' %}">Compte</a>
              </li>
            <li class="nav-item">
              <a class="nav-link  journalLink" href="{% url 'accountingJournal' %}">Journal Comptable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  bookLink" href="{% url 'accountingBook' %}">Grand livre comptable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  balanceLink" href="{% url 'accountingBalance' %}">Balance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  bilanLink" href="{% url 'accountingBilan' %}">Bilan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link resultLink" href="{% url 'accountingResult' %}">Compte resultat</a>
            </li>
            
    </ul>
    {% block main %}
        
    {% endblock main %}
{% endblock mainpage %}

{% block customJs %}
  <script>
    $('.app-link').parent().removeClass('active') 
    $('.accounting-link').addClass('active') 
    
  </script>
  {% block js %}
  {% endblock js %}
{% endblock customJs %}